doctype html
html
  head
    title Scala Times, weekly Scala newsletter by SoftwareMill
    link(href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src='/js/index.js')
    script(async, src='https://www.googletagmanager.com/gtag/js?id=G-RPQBJBLR2R')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-RPQBJBLR2R');    
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    div(class="container")
      block content
