doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    div(class="container")
      div(class="navbar",style="margin-top:20px")
        div(class="navbar-inner")
          ul(class="nav")
            li
              a(href="/") Latest Issue
            li
              a(href="/archive") Archive
      if success_flash
        p(class="text-success")= success_flash
      if error_flash
        p(class="text-error")= error_flash
      div(class="content")
        block content