doctype html
html
  head
    title= title
    link(href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src='underscore-min.js')
    script(src='index.js')
  body
    div(class="container")
      block content