* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.6;
  width: 100%;
  overflow: auto;
}

.navbar-default {
  background-color: white;
  border-style: none;
}

a {
  color: black !important;
  text-decoration: none;
}

a:hover, a:active {
  color: #750404 !important;
  text-decoration: underline !important;
  background-color: white;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none;
}

.mx-0 {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

@media screen and (min-width: 992px) {
  .search-max-width {
    max-width: 900px !important;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-top: 5rem !important;
  }

  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
  }

  .navbar-nav > li {
    float: none;
    display: inline-block;
  }

  .px-sm-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .mr-sm-2 {
    margin-right: 0.5rem !important;
  }

  .px-sm-0 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }

  .px-sm-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .py-sm-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .mx-sm-5 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }

  .sm-w-70 {
    width: 70% !important;
  }

  .sm-w-100 {
    width: 100% !important;
  }

  .sm-text-right {
    text-align: right;
  }

  .sm-text-left {
    text-align: left;
  }

  .footer-links > a {
    width: 33%;
    margin-left: 40px;
    margin-right: 40px;
  }

  .square-banner-sizes {
    margin-top: 3rem !important;
  }

  .round-banner-sizes {
    margin-top: 3rem !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banners-icons {
    margin-left: -5rem !important;
  }
}

@media screen and (max-width: 767px) {
  .mt-xs-2 {
    margin-top: 0.5rem !important;
  }

  .mt-xs-5 {
    margin-top: 3rem !important;
  }

  .mb-xs-2 {
    margin-bottom: 0.5rem !important;
  }

  .mx-xs-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .mx-xs-4 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }

  .xs-w-75 {
    width: 75% !important;
  }

  .xs-text-center {
    text-align: center;
  }

  .footer-links > a {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .search-icon {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
    padding-right: 3rem !important;
    color: #919091;
  }

  .square-banner-sizes {
    margin-top: -3rem !important;
  }

  .round-banner-sizes {
    margin-top: 1rem !important;
  }

  .mkt-icons p {
    margin-top: -3rem !important;
    margin-bottom: 4rem !important;
  }
}

.w-100 {
  width: 100% !important;
}

.align-right {
  text-align: right;
}

header {
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

header .logo {
  line-height: 1;
  margin-bottom: 10px;
}

header .logo .top {
  font-size: 1.12em;
  font-style: italic;
  display: block;
}

header .logo .top span {
  font-style: normal;
}

header .logo .middle {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  display: block;
}

header .logo .bottom {
  font-size: 1.12em;
  text-transform: uppercase;
  font-family: Courier, monospace;
  font-weight: normal;
  display: block;
}

header .subtitle {
  text-align: center;
  font-size: 1.12em;
  color: #939293;
  display: block;
}

header .subscribe input {
  background: #FAFAFA;
  border: 2px solid #E3E3E3;
  width: 100%;
}

header .subscribe button {
  background: #760200;
  color: white;
  border: 2px solid #760200;
  cursor: pointer;
}

body .search {
  margin: 2rem 0.5rem 3.5rem 0.5rem;
}

body .search input {
  background: #FAFAFA;
  border: 2px solid #E3E3E3;
  width: 100%;
  padding: 0.25rem 5.25rem 0.25rem 0.75rem !important;
}

footer {
  padding-top: 3rem !important;
  text-align: center;
  border-top: solid 2px #939293;
}

.footer-links {
  margin: 3rem auto;
}

.footer-icon {
  margin-right: 1rem;
  font-size: 3rem;
  color: #939293;
}

.search-icon {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  margin-right: 3rem !important;
  color: #919091;
}

.previous > header {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.banners {
  text-align: center;
}

.stickers {
  text-align: center;
}

.spread-the-word {
  margin-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: solid 2px #DEDEDE;
}

.spread-the-word > div {
  max-width: 950px;
}

.mkt-header {
  margin-bottom: 2rem;
  font-size: 4rem;
}

.mkt-body {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.mkt-icons {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.mkt-icon {
  padding-top: 3rem;
  max-width: 260px;
  height: 180px;
}

div.mkt-icons p {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.get-banners {
  text-align: center;
  margin-top: 6rem;
}

.get-banners .download-icon {
  font-size: 2rem;
  color: #939293;
  padding-right: 1.5rem;
}

.square-banner-sizes {
  text-align: left;
  max-width: 130px;
}

.round-banner-sizes {
  text-align: left;
  max-width: 130px;
}

.archive-right {
  border-left: #E3E3E3 solid medium;
}

.archive-left {
  border-right: #E3E3E3 solid medium;
}

header .issue-info {
  border-top: 3px double black;
  border-bottom: 3px double black;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 3px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.4em;
  clear: both;
}

.newspaper-body {
  width: 100%;
  position: relative;
}

.column {
  width: 192px;
  padding: 10px;
  vertical-align: top;
}

.newspaper-body .left-column, 
.newspaper-body .right-column {
  position: absolute;
  top: 0;
}

.newspaper-body .left-column {
  left: 0;
}

.newspaper-body .right-column {
  right: 0;
}

.newspaper-body .issue{
  padding: 0 192px;
  vertical-align: top;
  width: 960px;
  margin-bottom: 10px;
}

.promotion-table {
  padding: 15px 15px 0;
  width: 100%;
}

.exchange-list {
  padding-left: 30px;
}

.banners-table td {
  padding: 15px 35px;
  vertical-align: bottom;
  text-align: center;
  font-size: larger;
}

.banners-table img {
  margin-top: 10px;
}

.issue-table {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 15px 15px 0;
}

.issue-table img {
  max-width: 100%!important;
}

.issue-table a:hover strong {
  color: #ED0000!important;
}

.newspaper-body .sml-ad {
  border: 2px solid black;
  padding: 5px 7px;
  text-align: center;
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.8;
  font-size: 1.16em;
  margin-bottom: 10px;
}

.column ol {
  padding: 0;
  margin:  0;
  list-style: none;
}

.column .issue-link {
  color: black;
}

.column .issue-title {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 1.16em;
  font-weight: bold;
  color: black;
  text-align: center;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
}

.column .issue-link p {
  margin-top: 0;
  margin-bottom: 0;
}

.column .issue-link:hover .issue-title {
  color: #ED0000;
}

.column ul {
  padding: 0;
  list-style: none;
}

.column ol>li {
  padding-top: 7px;
  padding-bottom: 1px;
}

/*.column ol  ul {
  padding-bottom: 12px;
}*/

.column hr {
  width: 80px;
}

.column ol > li:last-child hr {
  display: none;
}


.other-archives {
  display: table;
  width: 100%;
  border-top: 1px solid black;
  padding: 10px 0 0;
}

.other-archives .column {
  display: table-cell;
  border-right: 1px solid black;
  height: 100%;
}

.other-archives .column:last-child {
  border-right: none;
}

/* tablets */
/*@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) {*/
@media only screen and (min-width : 600px) and (max-width : 1024px) {
  body {
    margin: 0;
    padding: 5px 0;
  }

  /*.container {*/
    /*max-width: 580px;*/
  /*}*/

  header .intro,
  header .subscribe {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  header .intro {
    padding: 0;
    font-size: 1.1em;
    border: none;
    color: gray; 
  }

  header .logo {
    padding: 0;
    margin-top: 30px;
  }

  .newspaper-body .issue {
    padding: 0;
    width: 100%;
  }

  .issue-table {
    border: none;
    border-bottom: 3px double black;
  }

  .newspaper-body .left-column, 
  .newspaper-body .right-column {
    position: initial;
    margin-bottom: 10px;
  }

  .newspaper-body .left-column {
    border-right: 1px solid black; 
  }

  .column {
    display: inline-block;
    width: 274px;
  }

  .other-archives {
    display: block;
  }

  .other-archives .column {
    display: inline-block;
  }

  .other-archives .column:nth-child(even) {
    border-right: none;
  }

  .other-archives .column:last-child {
    border-right: 1px solid black;
  }
}

@media only screen and (min-width : 320px) and (max-width : 599px) {
  body {
    margin: 0;
    padding: 5px 0;
  }

  /*.container {*/
    /*max-width: 300px;*/
  /*}*/

  header .intro,
  header .subscribe {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  header .intro {
    padding: 0;
    font-size: 1.1em;
    border: none;
    color: gray; 
  }

  header .logo {
    padding: 0;
    margin-top: 30px;
  }

  .newspaper-body .issue {
    padding: 0;
    width: 100%;
  }

  .promotion-table {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .exchange-list {
    padding-left: 10px;
  }

  .banners-table td {
    padding: 5px 10px;
  }

  .banners-table img {
    margin-top: 5px;
  }

  .issue-table {
    border: none;
    border-bottom: 3px double black;
    padding-left: 0;
    padding-right: 0;
  }

  .newspaper-body .left-column, 
  .newspaper-body .right-column {
    position: initial;
  }

  .column {
    display: inline-block;
    width: 268px;
  }

  .other-archives {
    display: block;
    border-top: none;
    padding: 0;
  }

  .other-archives .column {
    display: inline-block;
  }

  .other-archives .column {
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .column ol > li:last-child hr {
    display: block;
  }

}