* {
  box-sizing: border-box;
}

header {
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

header .logo {
  line-height: 1;
  margin-bottom: 10px;
}

header .logo .top {
  font-size: 1.12em;
  font-style: italic;
  display: block;
}

header .logo .top span {
  font-style: normal;
}

header .logo .middle {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  display: block;
}

header .logo .bottom {
  font-size: 1.12em;
  text-transform: uppercase;
  font-family: Courier, monospace;
  font-weight: normal;
  display: block;
}

header .subtitle {
  text-align: center;
  font-size: 1.12em;
  color: #939293;
  display: block;
  line-height: 1.25;
}

header .subscribe input {
  background: #FAFAFA;
  border: 2px solid #E3E3E3;
  width: 100%;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}

header .subscribe button {
  background: #760200;
  color: white;
  border: 2px solid #760200;
  cursor: pointer;
}

body {
  font-size: 24px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.6;
  width: 100%;
  overflow: auto;
}

body .search {
  margin: 2rem 0.5rem 3.5rem 0.5rem;
}

body .search input {
  background: #FAFAFA;
  border: 2px solid #E3E3E3;
  width: 100%;
  padding: 0.25rem 5.25rem 0.25rem 0.75rem;
}

.navbar-default {
  background-color: white;
  border-style: none;
}

a {
  color: black !important;
  text-decoration: none;
}

a:hover, a:active {
  color: #750404 !important;
  text-decoration: underline !important;
  background-color: white;
}

.w-100 {
  width: 100% !important;
}

.align-right {
  text-align: right;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

#mce-responses {
  display: block;
}

#mce-error-response {
  color: red;
}

#mce-success-response {
  color: green;
}

.response {
  display: block;
}

.issue-number {
  font-size: 3rem;
  margin-bottom: -1rem;
}

.issue-date {
  color: gray;
  font-size: 2rem;
  margin-top: -1rem;
}

.issue-categories {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.issue-content {
  margin: 6rem 3.5rem 0.5rem;
  padding-bottom: 5rem;
}

.issue-category {
  text-align: left;
}

.category-title {
  font-size: 3rem;
  margin-left: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.link {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  line-height: 2.5rem;
}

.link-title {
  color: #750404 !important;
}

.link-desc {
  font-size: 1.75rem;
}

.link-author {
  font-size: 1.5rem;
  color: gray;
}

footer {
  padding-top: 3rem !important;
  text-align: center;
  border-top: solid 2px #939293;
}

.footer-links {
  margin: 3rem auto;
}

.footer-icon {
  margin-right: 1rem;
  font-size: 3rem;
  color: #939293;
}

.search-icon {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
  color: #919091;
}

.previous > header {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.banners {
  text-align: center;
}

.stickers {
  text-align: center;
}

.spread-the-word {
  margin-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: solid 2px #DEDEDE;
}

.spread-the-word > div {
  max-width: 950px;
}

.mkt-header {
  margin-bottom: 2rem;
  font-size: 4rem;
  line-height: 1.4;
}

.mkt-body {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.mkt-icons {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.mkt-icon {
  padding-top: 3rem;
  max-width: 260px;
  height: 180px;
}

div.mkt-icons p {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.downloads {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.downloads .download-icon {
  font-size: 2rem;
  color: #939293;
  padding-right: 1.5rem;
}

.square-banner-sizes {
  text-align: left;
  max-width: 130px;
}

.round-banner-sizes {
  text-align: left;
  max-width: 130px;
}

.newspaper-body {
}

@media screen and (min-width: 992px) {
  .search-max-width {
    max-width: 900px !important;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-top: 5rem !important;
  }

  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
  }

  .navbar-nav > li {
    float: none;
    display: inline-block;
  }

  .framed {
    border-left: #E3E3E3 solid medium;
    border-right: #E3E3E3 solid medium;
  }

  .mr-sm-2 {
    margin-right: 0.5rem !important;
  }

  .pl-sm-2 {
    padding-left: 0.5rem !important;
  }

  .px-sm-0 {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }

  .px-sm-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .py-sm-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .mx-sm-5 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }

  .sm-w-70 {
    width: 70% !important;
  }

  .sm-w-100 {
    width: 100% !important;
  }

  .sm-text-right {
    text-align: right;
  }

  .sm-text-left {
    text-align: left;
  }

  .footer-links > a {
    width: 33%;
    margin-left: 40px;
    margin-right: 40px;
  }

  .square-banner-sizes {
    margin-top: 3rem !important;
  }

  .round-banner-sizes {
    margin-top: 3rem !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banners-icons {
    margin-left: -5rem !important;
  }
}

@media screen and (max-width: 767px) {
  .mt-xs-2 {
    margin-top: 0.5rem !important;
  }

  .mt-xs-5 {
    margin-top: 3rem !important;
  }

  .mb-xs-2 {
    margin-bottom: 0.5rem !important;
  }

  .mx-xs-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .mx-xs-4 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }

  .xs-w-75 {
    width: 75% !important;
  }

  .xs-text-center {
    text-align: center;
  }

  .footer-links > a {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  header .logo .top {
    font-size: 1em;
  }

  header .logo .middle {
    font-size: 2em;
  }

  header .logo .bottom {
    font-size: 1em;
  }

  header .subtitle {
    font-size: 1em;
  }

  input, button {
    height: 70px;
  }

  input {
    padding-right: 1rem !important;
    padding-left: 4rem !important;
  }

  body .search {
    margin-top: 3rem;
  }

  .search-icon {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    padding-right: 4rem !important;
  }

  .square-banner-sizes {
    margin-top: -3rem !important;
    margin-bottom: 3rem;
  }

  .round-banner-sizes {
    margin-top: 1rem !important;
    margin-bottom: 3rem;
  }

  .mkt-icons p {
    margin-top: -3rem !important;
    margin-bottom: 4rem !important;
  }
}
