.news-page {
  display: flex;
}



.news-page__sidebar {
  width: 20rem;
  padding: 0 1.5rem;
  margin-top: 6rem;
  color: #999;
}

@media(max-width: 1100px) {
  .news-page__sidebar {
    display: none;
  }
}

.news-page__sidebar:first-of-type {
  border-right: 1px solid #ddd;
}

.news-page__sidebar:last-of-type {
  border-left: 1px solid #ddd;
}




.news-page__issue {
  padding: 0 1.5rem;
  margin: 0 auto;
}

@media(max-width: 1100px) {
  .news-page__issue {
    padding: 0;    
  }
}


.issue--loading, .sidebar-archive--loading {
  opacity: 1;
  color: rgba(0, 0, 0, 0);
}

.issue__header {
  text-align: center;
  margin-bottom: 3rem;
}

.issue__header h2 {
  margin-bottom: 0;
}

.issue--loading .issue__header span {
  background: #111;
}

.issue-toc {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.issue-toc__item {
  margin: 0 .5rem;
}

.issue--loading .issue-toc__item span {
  background: #555;
}


.issue-entries-group {
  margin-bottom: 4.5rem;
  border-bottom: 1px solid #ddd;
}

.issue--loading .issue-entries-group__title span {
  background: #111;
}

.issue-entries-group:last-of-type {
  border-bottom: none;
}



.issue-entry {
  margin-bottom: 3rem;
}

.issue-entry a {
  color: #750404;  
}

.issue--loading .issue-entry a {
  background: #750404;
}


.issue-entry__title, .issue-entry__desc {
  margin-bottom: .5rem;
}

.issue--loading .issue-entry__desc span {
  background: #111;
}



.issue-entry__author {
  color: #999;
}

.issue--loading .issue-entry__author span {
  background: #999;
}


.sidebar-archive--loading .archive-item__title span {
  background: #333
}

.sidebar-archive--loading .archive-item__summary span {
  background: #999
}

@keyframes loadingAnimation{
  0%{
      opacity: .03
  }
  100%{
    opacity: .07
  }
}

.loading-animation {
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: loadingAnimation;
  animation-timing-function: ease-in-out;
}